<?xml version="1.0" encoding="UTF-8"?>
<Context  path="/context" docBase="context" crossContext="true" reloadable="true" debug="1">
    <!-- Specify a JDBC datasource -->
    <Resource
            name="jdbc/testPool"
            auth="Container"
            type="javax.sql.DataSource"
            username="root"
            password="root"
            driverClass="com.mysql.jdbc.Driver"
            url="jdbc:mysql://localhost/testwebshopdb"
            validationQuery="select 1"
            maxActive="10"
            maxIdle="4"/>

</Context>